/**************************************/
/*** Основные стили шаблона ***/
/**************************************/
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}
body {background-color: #F8F1F5;color: #3B2865;font-family: 'Comfortaa', cursive;font-size: .875rem;line-height: 1.25;font-weight: 400;position: relative;overflow-x: hidden;margin: 0;padding: 0;}
section {margin: 2rem 0;position: relative;}
.mainBlock-right {width: 100%;flex-grow: 1;}
.mainBlock-right.has-sidebar {width: 75%;padding-left: 1rem;flex-grow: 1;}
.mainBlock-left {width: 25%;padding-right: 1rem;flex-grow: 1;}
@media (max-width: 991.98px) {
	.mainBlock-left {width: 100%;padding: 0;order: 2;margin-top: 0;}
	.mainBlock-right.has-sidebar {width: 100%;padding: 0;order: 1;}
	section {margin: 1rem 0;}
}

/*** Основной контейнер ***/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 1rem;padding-right: 1rem;}
.container:before, .container:after {display: table;line-height: 0;content: '';}
.container:after {display: block;content: '.';clear: both;font-size: 0;line-height: 0;height: 0;overflow: hidden;}
.row {margin-left: -1rem;margin-right: -1rem;}
.row:before, .row:after {content: ' ';display: table;}

/*** Скрол всего сайта ***/
::-webkit-scrollbar {width: 1rem;height: 0;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: #70787D;}
::-webkit-scrollbar-track {border-radius: 0;background-color: #A9BDCE;}


/**************************************/
/*** Вспомогательные элементы ***/
/**************************************/
a {color: #3B2865;text-decoration: none;outline: 0;cursor: pointer;transition: all 0.3s ease;}
a:hover, a.active, a.opened, a.added {color: #FFA5D8;text-decoration: none;outline: 0;}
img {max-width: 100%;max-height: 100%;width: auto;}
p {margin: 0 0 1rem 0;line-height: 1.5;}
ol.unstyled, ul.unstyled {margin: 0;padding: 0;list-style: none;}
.required em {color: red;}
.unselectable {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.fadeout, .out {opacity: 0;filter: alpha(opacity=0);}
.fadein, .in {opacity: 1;filter: alpha(opacity=100);}
.tc {color: #FFA5D8 !important;}
.text-bold {font-weight: bold;}
.text-center {text-align: center;}
.flex {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;}
.flex-start {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: flex-start;-webkit-align-items: flex-start;-webkit-box-align: flex-start;align-items: flex-start;}
.flex-center {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.flex-stretch {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: flex-start;-webkit-align-items: stretch;-webkit-box-align: stretch;align-items: stretch;}
.justify-between {justify-content: space-between;}
.mask {overflow: hidden;mask-image: linear-gradient(to bottom, black 50%, transparent 90%);}
.noscript {position: relative;text-align: center;background-color: #FFA5D8;color: #ffffff;padding: 1rem;}
.blockquote {padding: 0 0 0 1rem;margin: 0 0 1.5rem;border-left: .25rem solid #FFA5D8;}
.DescriptionBlock {margin: 2rem 0 0 0;}
.htmlDataBlock {overflow: hidden;}


/**************************************/
/*** Оверлей. Темный фон ***/
/**************************************/
#overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;opacity: 0;filter: alpha(opacity=0);visibility: hidden;background-color: transparent;-webkit-transition: opacity .25s ease,visibility 0s ease .25s;transition: opacity .25s ease,visibility 0s ease .25s;}
#overlay.transparent {background-color: rgba(0, 0, 0, 0.5);}
#overlay.opened {opacity: 1;filter: alpha(opacity=100);visibility: visible;-webkit-transition: opacity .25s ease,visibility 0s ease;transition: opacity .25s ease,visibility 0s ease;cursor: pointer;}


/**************************************/
/*** Инпут поля ***/
/**************************************/
input, select, textarea {width: 100%;height: 50px;padding: 0 1rem;color: #3B2865;background-color: #ffffff;border-color: #E3DDEE;border-width: 3px;border-style: solid;border-radius: 40px;outline: 0;font-size: 1rem;font-weight: 400;font-family: 'Comfortaa', cursive;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input:focus, select:focus, textarea:focus {border-color: #FFA5D8;}
textarea {height: auto;min-height: 50px;padding-top: .5rem;}
select {cursor: pointer;}
input.error {border-color: red;}
input[type="file"] {margin-top: 0.25rem;height: auto;line-height: 1;border: 0;padding: 0;border-radius: 0;background: transparent;}
.square {background-color: transparent;border: 1px solid #3B2865;width: 1.5rem;height: 1.5rem;line-height: 1.5rem;border-radius: 0 0 .5rem 0;margin: 0;padding: 0;text-align: center;cursor: pointer;}
.square:hover, .square:checked {border-color: #FFA5D8;}
.square:checked:after, .square:hover:after {content: '\e922';font-family: 'icomoon';color: #FFA5D8;}
.square:disabled {border-color: #70787D;color: #70787D;cursor: default}
.square:disabled:after {display: none;}
.square:focus:not(:checked) {color: #70787D;}
.square:focus:not(:checked):after {content: '';}
input + label {cursor: pointer;}
.disabled label {cursor: default;color: #70787D;}

/* Текст в не активном инпуте */
::-webkit-input-placeholder {color: #CBC3DB;}
::-moz-placeholder {color: #CBC3DB;}
:-moz-placeholder {color: #CBC3DB;}
:-ms-input-placeholder {color: #CBC3DB;}
:focus::-webkit-input-placeholder {color: #3B2865;transition: opacity .3s ease;}
:focus::-moz-placeholder {color: #3B2865;transition: opacity .3s ease;}
:focus:-moz-placeholder {color: #3B2865;transition: opacity .3s ease;}
:focus:-ms-input-placeholder {color: #3B2865;transition: opacity .3s ease;}

/* Ошибка в инпуте */
input.error, textarea.error {border-color: red;}
input.error::-webkit-input-placeholder {color: red;}
input.error::-moz-placeholder {color: red;}
input.error:-moz-placeholder {color: red;}
input.error:-ms-input-placeholder {color: red;}
textarea.error::-webkit-input-placeholder {color: red;}
textarea.error::-moz-placeholder {color: red;}
textarea.error:-moz-placeholder {color: red;}
textarea.error:-ms-input-placeholder {color: red;}


/**************************************/
/*** Селекты ***/
/**************************************/
.selectBox {position: relative;}
.selectBox:after {content: '\e91d';line-height: 2.5rem;right: .25rem;position: absolute;font-family: 'icomoon';pointer-events: none;}
.selectBox select {padding: 0 1.25rem 0 1rem;max-width: 15rem;width: auto;border: 0;}
.selectBox:hover:after {color: #FFA5D8;}


/**************************************/
/*** Кнопки ***/
/**************************************/
.button, button, [class^="button-"], .paymentFormSubmitLink, .paymentFormTbodySubmitButton {color: #ffffff;background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);border-radius: 30px;padding: 0 40px;line-height: 50px;border: 0;text-align: center;font-size: 1rem;font-family: 'Comfortaa', cursive;cursor: pointer;display: inline-block;position: relative;transition: all 0.3s ease;}
.button:hover, button:hover, [class^="button-"]:hover, .paymentFormSubmitLink:hover, .paymentFormTbodySubmitButton:hover, .button.active, .button.opened, [class^="button-"].active, [class^="button-"].opened {color: #ffffff;background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);}


.button5 {font-weight: 600;}
.button5 i {font-size: 1.25rem;line-height: 1;margin-right: .5rem;transition: all 0.3s ease;vertical-align: middle;display: inline-block;}
.button5 span {vertical-align: middle;display: inline-block;}
.button5.active i, .button5:hover i {transform: rotate(90deg);}
.button5.active:hover i {transform: rotate(0deg);}
.button.empty {color: #656d72;background-color: #eef2f5;}
.button.empty:hover {color: #656d72;background-color: #eef2f5;}
.small {line-height: 2rem;padding: 0 1rem;font-size: .875rem;}
.remove i, .fancybox-close-small i {transition: all 0.3s ease;display: inline-block;}
.remove:hover i, .fancybox-close-small:hover i {transform: rotate(90deg);}

.fancybox-button:before {display: none;}

/**************************************/
/*** Иконки Товаров ***/
/**************************************/
/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {font-family: 'icomoon';line-height: 1;}
.add-favorites:after {content: '\e921';}
.add-compare:after {content: '\e90c';}

/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {color: #ffffff;z-index: 2;position: absolute;top: 6px;left: 6px;}
.product__ico label {display: none;}
.product__ico span {font-size: .75rem;line-height: 1;width: 36px;height: 36px;line-height: 36px;text-align: center;border-radius: 100%;display: block;}
.product__ico span + span {margin-top: -10px;}
.ico__sales {background: #FFA5D8;}
.ico__sale {background: #DE4F8B;}
.ico__sale:before {content: 'sale';}
.ico__best {background: #9579D1;}
.ico__best:before {content: 'hit';}
.ico__new {background: #79D19C;}
.ico__new:before {content: 'new';}


/**************************************/
/*** Рейтинг Товаров ***/
/**************************************/
.ratings {display: inline-block;position: relative;vertical-align: middle;line-height: 0;overflow: hidden;}
.ratings:before {font-size: 1.25rem;color: #70787D;line-height: 1;font-family: 'icomoon';content: '\e91a\e91a\e91a\e91a\e91a';letter-spacing: .25rem;}
.ratings .rating {position: absolute;left: 0;top: 0;overflow: hidden;}
.ratings .rating:before {font-size: 1.25rem;color: #FFA5D8;line-height: 1;white-space:nowrap;font-family: 'icomoon';content: '\e91a\e91a\e91a\e91a\e91a';letter-spacing: .25rem;}
.stars {overflow: hidden;}
.star {margin: 0 .125rem;color: #70787D;width: 1.25rem;height: 1.25rem;line-height: 1.25rem;font-size: 1.25rem;white-space: nowrap;float:left;cursor: pointer;zoom:1;display:block;}
.star:after {content: '\e91a';font-family: 'icomoon';}
.stars .fullStar {color: #FFA5D8;}
.stars .tmp_fs {color: #FFA5D8;}
.stars .tmp_es {color: #70787D;}


/**************************************/
/*** Цены ***/
/**************************************/
.price__old {text-decoration: line-through;color: #CBC3DB;}
.price__now {font-size: 1.25rem;font-weight: bold;}
.num + span {display: none;}
.num:after {content: "₽";line-height: 1;margin-left: 0.25rem;}


/**************************************/
/*** Уведомления. Системные сообщения ***/
/**************************************/
.success, .warning, .attention, .information, .help {position: relative;width: 100%;margin-bottom: 2rem;padding: 0;overflow: hidden;font-size: 1rem;line-height: 1.5rem;text-transform: none;font-weight: normal;}
.success {color: #3B2865;}
.warning {color: #b30020;}
.attention {color: #8a6d3b;}
.information {color: #64b93a;}
.help {color: #cecece;}
.success a, .warning a, .attention a, .information a {color: inherit;font-weight: 600;text-decoration: underline;display: inline;}


/**************************************/
/*** Заголовки ***/
/**************************************/
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility;text-transform: none;line-height: 1.5;margin: 0;padding: 0;font-weight: 600;font-family: 'Cormorant Infant', serif;}
h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}


/**************************************/
/*** Блок Заголовков ***/
/**************************************/
.block__title {margin-bottom: 2rem;text-align: center;position: relative;}
.block__title .title {font-size: 2.5rem;line-height: 1.2;font-weight: bold;}
.block__title .subtitle {font-size: 2rem;font-weight: 600;color: #7EB8DA;margin-top: .5rem;font-family: 'Cormorant Infant', serif;}
.block__title .pretitle {width: 44px;height: 44px;background-size: cover;margin: 0 auto;}
/* Блок Заголовков. Адаптивность */
@media (max-width: 991.98px) {
	.block__title {margin-bottom: 1rem;}
}
@media (max-width: 639.98px) {
	.block__title .title {font-size: 1.25rem;}
}

/**************************************/
/*** Хлебные крошки ***/
/**************************************/
#breadcrumbs {width: calc(100% - 31.5rem);overflow-x: auto;display: block;position: relative;}
#breadcrumbs ul {flex-wrap: nowrap;}
#breadcrumbs ul li {display: flex;align-items: center;white-space: nowrap;}
#breadcrumbs ul li:before {content: "\e903";margin: 0 1.5rem;font-size: 1.5rem; font-family: 'icomoon';}
#breadcrumbs ul li:first-child::before {display: none;}
#breadcrumbs ul li span {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 20rem;display: inline-block;vertical-align: middle;}
#breadcrumbs ul li:last-child span {color: #FFA5D8;}
#breadcrumbs::-webkit-scrollbar {width: 0;height: 0.25rem;}
@media (max-width: 1199.98px) {
	#breadcrumbs {width: calc(100% - 27.5rem);}
}
@media (max-width: 991.98px) {
	#breadcrumbs {width: calc(100% - 23.5rem);}
}
@media (max-width: 767.98px) {
	#breadcrumbs {width: 100%;}
}


/**************************************/
/*** Предзагрузчик ***/
/**************************************/
.loading {overflow: hidden;}
.preloader {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #ffffff;z-index: 40;display: flex;align-items: center;justify-content: center;}
.preloader .loading {display: inline-block;width: 5rem;height: 5rem;}
.preloader .loading:after {content: '';display: block;width: 5rem;height: 5rem;margin: 1px;border-radius: 50%;border: 5px solid #ffffff;border-color: #FFA5D8 transparent #FFA5D8 transparent;animation: loading 1.2s linear infinite;}
.preloader.small .loading {display: inline-block;width: 3rem;height: 3rem;}
.preloader.small .loading:after {content: '';display: block;width: 3rem;height: 3rem;}
.preloader.top {align-items: flex-start;}
.preloader.top .loading {margin-top: 5rem;}
@keyframes loading {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}


/**************************************/
/*** Навигация по страницам ***/
/**************************************/
.pages {justify-content: flex-end;}
.pages li {margin: 0 .5rem;font-size: 1rem;}
.pages li.current {color: #FFA5D8;}
.pages li a {display: block;}
.pages li.first, .pages li.last {font-size: 1.5rem;line-height: 1;margin: 0;}
.pages li.first:hover, .pages li.last:hover {color: #FFA5D8;}


/**************************************/
/*** Таблицы ***/
/**************************************/
.table-box {margin-bottom: 1rem;width: 100%;background-color: #ffffff;border-collapse: collapse;line-height: 1.125rem;text-align: center;border-radius: 0;}
.table-box > tbody > tr > th, .table-box > tfoot > tr > th, .table-box > tbody > tr > td {border: 1px solid #dae6ec;line-height: 1.125rem;padding: 0.75rem 0.625rem;text-align: center;}
.table-box thead td, .table-box tfoot td {color: #999999;background-color: #fbfbfb;border: 1px solid #dae6ec;line-height: 1.125rem;padding: 0.75rem;text-align: center;}
.table-box tfoot td {color: #656d72;font-weight: bold;}
.table-box tbody tr td.cell1 {text-align: right;width: 50%;}
.table-box tbody tr td.cell2 {text-align: left;width: 50%;}
.table-box .hide {display: none;}
@media all and (max-width: 767px) {
.scroll {width: 100%;overflow-x: auto;margin-bottom: 1rem;}
.scroll::-webkit-scrollbar {width: 0;height: 1rem;}
.scroll::-webkit-scrollbar-thumb {background-color: #70787D;}
.scroll::-webkit-scrollbar-track {background-color: #A9BDCE;}
}


/**************************************/
/*** Показать пароль ***/
/**************************************/
.form__pass {display: flex;align-items: center;position: relative;}
.showPassBlock {position: absolute;right: .25rem;cursor: pointer;}
.showPassBlock:before {content: '\e937';margin-right: 0.5rem;color: #dae6ec;font-size: 1.5rem;font-family: 'icomoon';vertical-align: middle;}
.showPassBlock.active:before {content: '\e936';}
.showPassBlock .showPass {vertical-align: middle;display: none;}

/*** Капслок ***/
#capslock {margin-top: 1rem;display: none;}


/**************************************/
/*** Модальные окна ***/
/**************************************/
.fancybox-close-small {line-height: 1;}
.fancybox-close-small:hover {color: #ffffff;}
.fancybox-content {max-width: 50rem;padding: 2.75rem 2rem 2rem 2rem;background-color: #efefef;transition: all 0.3s ease;}
.fancybox-content.modal {max-width: 32rem;transform: translateY(200%);}
.fancybox-slide--complete .fancybox-content.modal {transform: translateY(0);}
.fancybox-content .block__title {margin-bottom: 2rem;}
.fancybox-content input, .fancybox-content textarea {background-color: transparent;}
.fancybox-content .form__buttons {text-align: center;}
#fancybox__notify {max-width: 26rem;}
@media (max-width: 639.98px) {
	.fancybox-content {padding: 2.75rem 1rem 1rem 1rem;}
	.fancybox-content.modal {vertical-align: bottom;}
}


/**************************************/
/*** Выпадающее обхекты ***/
/**************************************/
.dropdown {position: relative;}
.dropdown__content {display: none;width: 28rem;margin-top: -1px;padding: 2rem;right: 0;top: 4rem;height: auto;background: #ffffff;border: 1px solid #dae6ec;position: absolute;z-index: 11;transition: all 0.3s ease-in-out;}
.opened .dropdown__content, .dropdown__content.opened {display: block;}
.dropdown__open {position: relative;cursor: pointer;}
@media all and (min-width: 768px) {
	.dropdown .dropdown__open:before {content: "";right: 0;bottom: -4rem;height: 5rem;width: 100%;display: block;position: absolute;}
	.dropdown:hover .dropdown__content {display: block;}
}
@media (max-width: 479.98px) {
	.dropdown__content {width: 18rem;padding: 1rem;}
}


/**************************************/
/*** Формализованный список ***/
/**************************************/
.form__list {width: 100%;}
.form__fields {margin-bottom: 1rem;position: relative;}
.form__fields:last-child {margin-bottom: 0;}
.form__fields label {margin-bottom: 0.5rem;display: block;cursor: pointer;}
.form__fields label em {display: none;}
.form__fields label.required em {display: inline-block;color: red;font-weight: bold;font-size: 1.25rem;}
.form__fields .form__field {width: 100%;}
.form__fields .form__field + .form__field {margin-top: 1rem;}
.form__fields.two {-webkit-justify-content: space-between;justify-content: space-between;}
.form__fields.two .form__field {width: 48%;margin-top: 0;display: flex;flex-wrap: wrap;align-items: center;}
.form__fields input {transition: all 0.3s ease;}
.form__field {position: relative;}
.form__pp {font-size: .75rem;margin-top: 1rem;color: #CBC3DB;text-align: center;}
.form__pp a {text-decoration: underline;display: inline-block;}
.form__buttons {margin-top: 1rem;}
.form__field i {position: absolute;top: 0;left: 0;font-size: 24px;width: 40px;height: 40px;display: none;align-items: center;justify-content: center;}
.form__text {text-align: center;}
@media all and (max-width: 767.98px) {
	.form__fields {margin-bottom: 1rem;}
}


/**************************************/
/*** Страницы: ЛК ***/
/**************************************/
.client, .form__client {width: 100%;}
.client__blocks {width: 50%;}
.client__block {width: calc(50% - 2rem);margin: 0 1rem;}
.client__title {font-size: 1.75rem;margin-bottom: 2rem;display: flex;align-items: center;width: 100%;}
.client .form__fields label {display: none;}
.client .form__fields {max-width: 360px;}
.client__buttons {width: 100%;display: block;}
.client__buttons .button {margin: 1rem 1rem 0 0;}
@media all and (max-width: 1199.98px) {
.client__blocks {width: 100%;}
.client__blocks + .client__blocks {margin-top: 2rem;}
}
@media all and (max-width: 639.98px) {
.client__block {width: 100%;}
.client__block + .client__block {margin-top: 2rem;}
.client__title {margin-bottom: 1rem;}
}


/**************************************/
/*** Страница: ЛК Избранное ***/
/**************************************/
.page-favorites .favorites {display: none;}


/**************************************/
/*** Страница: Связь с администрацией ***/
/**************************************/
.client .form__pp {text-align: left;padding: 0;}
.page-feedback .maps {width: 100%;margin-top: 2rem;}
/* Страница: Связь с администрацией. Контакты */
.page-feedback .contacts__content {margin: 0;padding: 0;list-style: none;width: 100%;}
.page-feedback .contacts__block {margin-bottom: 2rem;width: 100%;}
.page-feedback .contacts__block label {display: none;}
.page-feedback .contacts__block-link {white-space: normal;max-width: 100%;}
.page-feedback .contacts__block-link + .contacts__block-link {margin-top: .5rem;}


/**************************************/
/*** Страницы новостей ***/
/**************************************/
/*** Страница: Список новостей ***/
.news__list .news__item {margin-bottom: 2rem;padding: 1.5rem;border: 1px solid #dae6ec;}
.news__list .news__item:last-child {margin-bottom: 0;}
.news__list .news__title {margin: 0 0 1rem 0;font-weight: bold;display: block;}
.news__list .news__text {word-break: break-all;font-size: 0.875rem;}
.news__list .news__date {margin: .5rem 0 0 0;position: relative;text-align: right;}
.news__list + .pages {margin-top: 2rem;}
@media all and (max-width: 639.98px) {
	.news__list .news__item {padding: 1rem;}
}

/*** Страница: Просмотр новости ***/
.news__buttons {margin-top: 1.5rem;}
.news__buttons a {padding: 0 1.5rem;}
.newsListBlockItemFiles {margin-top: 1rem;overflow: hidden;word-break: break-all;}
.page-news .news__date {position: relative;text-align: right;margin-top: 1rem;}
.page-news .htmlDataBlock {padding: 1.5rem;border: 1px solid #dae6ec;}
.page-news .htmlDataBlock img {margin-bottom: 1rem;}


/**************************************/
/*** Страница: Сравнение ***/
/**************************************/
.CompareGoods .buttons {margin: 2rem 0 0;}
.CompareGoods .buttons i {margin-right: 6px;vertical-align: middle;}
.CompareGoods .buttons span {margin-left: 3px;vertical-align: middle;}
.CompareGoods__nav {width: 100%;margin-bottom: 2rem;position: relative;display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;}
.CompareGoods__nav .owl-nav {position: relative;}
.CompareGoods__filter {display: -ms-flexbox;display: -webkit-flex;display: flex;line-height: 30px;}
.CompareGoods__filter .button {padding: 0 1rem;}
.CompareGoods__filter .hide {margin-left: 3px;}
.CompareGoods__switch {background: #eef2f4;display: inline-block;position: relative;width: 60px;height: 30px;border-radius: 1.5rem;z-index: 0;margin: 0 0.625rem 0 0;padding: 0;border: none;cursor: pointer;transition-duration: 300ms;}
.CompareGoods__switch:after {background: #ffffff;content: '';position: absolute;top: 3px;left: 3px;height: 1.5rem;width: 1.5rem;border-radius: 17px;transition-duration: 300ms;z-index: 1;}
.CompareGoods__switch.switch-on {background: #FFA5D8;}
.CompareGoods__switch.switch-on:after {left: 33px;}
.CompareGoods .price__now {margin: 0;}
.CompareGoods .price__old {margin-right: 1rem;}
@media (max-width: 479.98px) {
	.CompareGoods .buttons .hide {display: none;}
	.CompareGoodsTableTbody .actions [class^="add-"] {padding: 0 3rem;}
}

/** Таблица сравнений **/
.CompareGoodsTableTbody {width: 100%;}
.CompareGoodsTableTbody > div {border-top: 1px solid #dae6ec;width: 100%;margin-bottom: 1rem;display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.CompareGoodsTableTbody > div:not(.CompareGoodsTableTbodyComparisonLine) {border: 0;text-align: center;}
.CompareGoodsTableTbody > div:not(.CompareGoodsTableTbodyComparisonLine) .cell {display: none;}
.CompareGoodsTableTbody > div .cell {width: 100%;padding: 1rem 0 0.625rem;}
.CompareGoodsTableTbody > div .cell label {font-weight: bold;}
.CompareGoodsTableTbody > div .cell input {display: none;}
.CompareGoodsTableTbody .image a:not(.remove) {display: block;line-height: 130px;}
.CompareGoodsTableTbody .owl-item .image img {display: inline-block;width: auto;max-width: 100%;}
.CompareGoodsTableTbody .remove {color: #dae6ec;background: #ffffff;border: 1px solid #dae6ec;position: absolute;top: 0;right: 0;z-index: 2;width: 2rem;height: 2rem;}
.CompareGoodsTableTbody .remove:hover {color: #ffffff;background: #FFA5D8;border-color: #FFA5D8;}
.CompareGoodsTableTbody .remove i {display: block;font-size: 1rem;line-height: 1.95rem;}
.CompareGoodsTableTbody .CompareCheckbox {display: none;margin: 0 0.625rem 0 0;vertical-align: middle;}
.CompareGoodsTableTbody .htmlDataBlock {text-align: left;overflow: hidden;}
.CompareGoodsTableTbody .CompareGoodsHeader .title {display: block;max-height: 72px;line-height: 1.125rem;overflow: hidden;text-align: left;}
.CompareGoodsTableTbody .CompareGoodsHeader .mod {display: block;margin-top: 5px;font-size: 13px;line-height: 15px;text-align: left;}
.CompareGoodsTableTbody .actions {width: 100%;padding: 3px;display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;}
.CompareGoodsTableTbody .actions [class^="add-"] {font-size: 1.5rem;}
.CompareGoodsTableTbody .actions [class^="add-"] span {display: none;}
.CompareGoodsTableTbody .product__price {border: 0;}
.CompareGoodsTableTbody .owl-stage-outer {margin-right: -1px;}
.page-compare .owl-next {margin-left: 1rem;}
@media all and (max-width: 479px) {
.CompareGoods__filter .label {display: none;}
.CompareGoods .price__old {margin-right: 0.5rem;}
.CompareGoodsTableTbody .actions .price-box {width: 100%;margin-bottom: 1rem;}
.CompareGoodsTableTbody .actions .price-box .price__old {display: block;margin-top: 5px;}
.CompareGoodsTableTbody .actions .add-notify:before {display: none;}
}


/**************************************/
/*** Страница: Оформление заказа ***/
/**************************************/
.delivery__option, .payment__option {margin-top: 2rem;width: 100%;display: flex;flex-wrap: wrap;align-items: center;}
.delivery__option .delivery__name, .delivery__option .zones__name {margin: 0 0 0 1rem;}
.delivery__desc, .payment__desc {width: 100%;margin-top: 1rem;}
.delivery__fields {width: 100%;margin-top: 1rem;}
.delivery__zones {width: 100%;margin-top: 1rem;padding-left: 1rem;}
.delivery__zone {margin-top: 0.5rem;display: flex;flex-wrap: wrap;align-items: center;}
.delivery__zone .zones__price, .delivery__fields .delivery__price {margin-left: 1rem;font-weight: bold;}
.delivery__zone > div {margin-top: 1rem;}
.stages__list {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;width: 100%;margin-bottom: 2rem;}
.stages__list .stages {width: 25%;position: relative;font-size: 1.125rem;line-height: 2em;padding-top: 2rem;}
.stages__list .stages:after {content: '';position: absolute;top: calc(50% + 1rem);left: 0;width: 70%;height: 2px;margin-top: -1px;background: #dae6ec;opacity: 0.5;filter: alpha(opacity=50);}
.stages__list .stages .title, .stages__list .stages a {display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;font-size: 26px;line-height: 1;font-weight: 600;cursor: default;}
.stages__list .stages a:hover .title {cursor: pointer;}
.stages__list .stages.active {opacity: 1;filter: alpha(opacity=100);}
.stages__list .stages.active:before, .stages__list .stages:hover:before {color: #FFA5D8;opacity: 1;filter: alpha(opacity=100);display: inline-block;text-rendering: auto;-webkit-font-smoothing: antialiased;transform: translate(0,0);}
.stages__list .stages.active:after, .stages__list .stages:hover:after {background: #FFA5D8;opacity: 1;filter: alpha(opacity=100);}
.stages__list .stages .title:before {margin-right: 5px;}
.stages__list .stages:nth-child(1) .title:before {content: '1.';}
.stages__list .stages:nth-child(2) .title:before {content: '2.';}
.stages__list .stages:nth-child(3) .title:before {content: '3.';}
.stages__list .stages:nth-child(4) .title:before {content: '4.';}
@media all and (max-width: 991.98px) {
.stages__list {margin-bottom: 1rem;}
.stages__list .stages {width: 50%;}
.stages__list .stages:nth-child(1), .stages__list .stages:nth-child(2) {margin-bottom: 1rem;}
}
@media all and (max-width: 639.98px) {
.stages__list .stages {width: 100%;margin-top: 1rem;}
.stages__list .stages:first-child {margin-top: 0;}
.stages__list .stages:after {width: 90%;}
}
.orderStrageContent {width: 100%;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: space-between;}
.orderStrageContent__block {width: calc(50% - 1rem);}
.orderStrageContent__block.full {width: 100%;}
.orderStrageContent__block.coupons {margin-top: 2rem;}
.orderStrageContent__buttons {width: 100%;}
.orderStrageContent__buttons .button {margin-right: 0.625rem;margin-top: 1rem;}
.orderStrageContent__buttons .button + .button {margin-right: 0;}
.orderStrageContent__block .delivery__option {width: 100%;}
.orderStrageContent__block .payment__option {width: 100%;}
.orderStrageContent__block .payment__option .payment__name {margin-left: 1rem;}
@media all and (max-width: 991.98px) {
.orderStrageContent__block {width: 100%;margin: 0;padding: 0;}
.orderStrageContent__block + .orderStrageContent__block {margin-top: 2rem;}
}
.orderStrageContent .text {text-transform: uppercase;margin: 0 0 1rem 0;}
.orderStrageContent .text-italic {font-style: italic;margin-bottom: 1rem;}
.orderStrageContent h3.title {margin-bottom: 20px;}
.orderStrageContent .reg__item {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;margin-bottom: 1rem;}
.orderStrageContent .reg__item i {margin-right: 0.625rem;font-size: 24px;}
.orderStrageContent .form__fields.form__registration label {margin: 0;}
/* Оплата */
.paymentQiwi .tr2 .ceil1 {padding: 20px 20px 20px 60px !important;}
.paymentQiwi .tr6 .ceil1 {padding: 1rem !important;}
.paymentQiwi .PhoneLabel {float: none !important;}
.paymentQiwi .PhoneInput {float: none !important;}
.paymentQiwi #form_phone {width: auto !important;margin: 1rem auto 0;}
.payment .orderStagePaymentList .orderStagePayment .cell1 {display: inline-block;text-align: center;vertical-align: top;}
.payment .orderStagePaymentList .orderStagePayment .cell2 {display: inline-block;width: calc(100% - 40px);padding: 0;vertical-align: middle;}


/**************************************/
/*** Выпадающий контент. Корзина, Сравнение, Избранное ***/
/**************************************/
.addto__title {display: none;font-size: 1.25rem;font-weight: bold;margin-bottom: 2rem;}
.addto__empty {margin: 1rem 0;font-size: 1.5rem;}
.addto__items {max-height: 14rem;overflow-y: auto;}
.addto__items::-webkit-scrollbar {width: .5rem;}
.addto__item {margin-top: 1rem;transition: all 0.3s ease;align-items: stretch;}
.addto__item:first-child {margin-top: 0;}
.addto__image {width: 6rem;height: 6rem;}
.addto__content {width: calc(100% - 6rem);}
.addto__info {padding: .75rem 1rem;width: calc(100% - 2rem);}
.addto__name {max-height: 2.25rem;overflow: hidden;display: block;}
.addto__price {margin-top: .75rem;}
.addto__mod {display: none;}
.addto__actions {flex-direction: column;}
.addto__remove {width: 2rem;height: 2rem;}
.addto__qty {font-size: 1rem;}
.addto__total {display: none;}
.addto__separator {margin: 0 .25rem;}
.has-items .addto__title {display: block;}
.has-items .addto__empty {display: none;}
.addto__buttons {display: none;padding: .75rem 1rem 0 1rem;}
.has-items .addto__buttons {display: flex;}
.addto__buttons .button-primary {padding: 0 3rem;}
.login .addto__buttons {margin-top: 2rem;}
.login .form__text {margin-bottom: 2rem;}
@media (max-width: 479.98px) {
	.addto__buttons .button-primary {padding: 0 1.5rem;}
	.addto__empty {font-size: 1rem;}
}


/**************************************/
/*** Обесцвечивание изображений ***/
/**************************************/
.grayscale {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.grayscale:hover {-webkit-filter: grayscale(0);-moz-filter: grayscale(0);-ms-filter: grayscale(0);-o-filter: grayscale(0);filter: grayscale(0);filter: none;}


/**************************************/
/*** Шапка ***/
/**************************************/
.header__block {margin-right: 10px;padding: 12px 14px;background-color: #ffffff;box-shadow: 0px 4px 10px 0px #AE8FED4D;border-radius: 0 0 30px 30px;position: relative;}
.header__block.has-items:after {content: '';width: 8px;height: 8px;background-color: #9579D1;border-radius: 100%;position: absolute;bottom: -4px;left: calc(50% - 4px);}
.header__block:last-child {margin-right: 0;}
.header__block.logo {background-color: transparent;box-shadow: none;flex-grow: 1;text-align: center;padding: 0;}
.header__block.phone {padding: 12px 20px;}
.header__block [class*="count-"] {display: none;}
.header__block i {font-size: 22px;line-height: 26px;color: #FFA5D8;}
.header__block-icon {line-height: 1;display: block;text-align: center;}
.header__block-content {padding-left: 10px;}
.header__block-link {font-size: 16px;font-weight: bold;}
.header__block.cart.has-items {padding: 0 0 10px 0;}
.header__block.cart.has-items .header__block-count {color: #ffffff;background-color: #9579D1;width: 64px;height: 20px;text-align: center;margin: 16px 0;}
.header__block.cart.has-items [class*="count-"] {display: block;font-size: 12px;font-weight: bold;width: 30px;height: 30px;line-height: 30px;text-align: center;background-color: #9579D1;border-radius: 100%;margin: 0 auto;top: -5px;position: relative;}
.header__block.cart.has-items i {font-size: 32px;}


/**************************************/
/*** Меню ***/
/**************************************/
.menu__inner {position: relative;}

/** Меню. Каталог **/
#menu .catalog {position: absolute;left: 0;z-index: 2;}
.catalog__icon {width: 100px;height: 100px;font-size: 40px;border-radius: 100%;color: #ffffff;background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);}
.catalog__icon:hover {color: #ffffff;background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);}

/** Меню. Меню **/
#menu .menu {width: 100%;position: relative;padding: 0 270px 0 120px;background-color: #ffffff;box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);border-radius: 40px;}
.mainnav__list {height: 60px;}
.mainnav__list li {position: relative;}
.mainnav__list-link {margin: 10px;font-size: 16px;line-height: 20px;display: block;text-align: center;}
.mainnav__list-link span {position: relative;}
.mainnav__list-link span:after {content: '';position: absolute;bottom: -24px;left: 0;width: 0%;height: .25rem;background-color: #FFA5D8;border-radius: 3px;transition: all 0.3s ease;}
.mainnav__list-link:hover span:after, #menu .mainnav__list-link.active span:after {width: 100%;}
.mainnav__list-link:hover, .mainnav__list-link.active {color: #FFA5D8;}
.overflowMenu .mainnav__list-link {color: #272727;}
.mainnav__more i {margin-left: .5rem;font-size: 1rem;vertical-align: middle;}

/** Меню. Поиск **/
.search {position: absolute;right: 10px;}
.search__form {position: relative;}
.search__input {border: 0;padding: 0 0 0 55px;height: 40px;}
.search__submit {width: 40px;height: 40px;line-height: 44px;padding: 0;text-align: center;position: absolute;left: 0;}
.search__reset {opacity: 0;position: absolute;right: 10px;line-height: 40px;}
.search__filled .search__reset {opacity: 1;}
.search__loading .lds-ring {display: block;}
.lds-ring {display: none;position: absolute;top: 10px;right: 40px;width: 1rem;height: 1rem;}
.lds-ring div {border: 2px solid #FFA5D8;border-color: #FFA5D8 transparent transparent transparent;width: 1rem;height: 1rem;margin: 0;border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;display: block;position: absolute;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}


/**************************************/
/*** Слайдшоу ***/
/**************************************/
#slideshow.loading {height: 580px;}
#slideshow .owl-dots {position: absolute;top: 6rem;left: 0;display: flex;flex-direction: column;}
#slideshow .owl-nav {position: absolute;bottom: 10px;right: 225px;width: 130px;}
.slideshow__inner {position: relative;}
.slider__image {margin: 1.5rem;position: absolute;right: 0;top: 0;}
.slider__image img {outline: 1.5rem solid rgba(126, 184, 218, 0.1);border: 1rem solid rgba(126, 184, 218, 0.2);border-radius: 100%;}
.slider__title {font-size: 3.75rem;font-weight: bold;}
.slider__subtitle {font-size: 1.25rem;margin-top: .5rem;}
.slider__buttons {margin-top: 3rem;}
.slider__button {padding: 0 4rem;line-height: 60px;}
.slider__content {padding: 2.5rem 3.5rem;}
.slider__item {height: 580px;}

/*** Промо в слайдере ***/
.slider__promo {position: absolute;bottom: 50px;left: 0;align-items: flex-end;z-index: 2;}
.slider__promo-item {width: 190px;}
.slider__promo-item:nth-child(2) {margin-bottom: 60px;}
.slider__promo-item:nth-child(3) {margin-bottom: 100px;}
.slider__promo-icon {margin: 1rem;font-size: 36px;width: 70px;height: 70px;line-height: 76px;color: #ffffff;background: #7EB8DA;outline: 1rem solid rgba(126, 184, 218, 0.2);border-radius: 100%;text-align: center;}
.slider__promo-content {margin-top: 26px;font-size: 1rem;}


/**************************************/
/*** Обратный отсчет ***/
/**************************************/
.countdown__inner {justify-content: space-between;padding: 1.5rem 2.5rem;background-color: #ffffff;border-radius: 1.5rem;background-repeat: no-repeat;background-size: cover;}
.countdown__title {font-size: 2.5rem;line-height: 3rem;font-weight: 600;}
.countdown__subtitle {font-size: 1rem;margin-top: .5rem;}
/** Обратный отсчет **/
.tick .tick-credits {display: none;}
.tick .tick-group {margin: 0 10px;text-align: center;}
.tick .tick-label {font-size: 1rem;line-height: 1;text-transform: lowercase;margin-top: 10px;}
.tick .tick-flip {margin: 0 3px;padding: .5rem;border-radius: 1rem;width: 50px;}
.tick .tick-flip-spacer {font-size: 3rem;line-height: 2.75rem;}
.tick .tick-flip-panel-text-wrapper {font-size: 3rem;}
.tick .tick-flip-panel-front {background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);border-radius: 16px 16px 0px 0px;}
.tick .tick-flip-panel-back {background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);border-radius: 0px 0px 16px 16px;}
.tick .tick-flip-card-shadow {box-shadow: none;}


/**************************************/
/*** Промо слайдер ***/
/**************************************/
#promo.loading {height: 156px;}
#promo .owl-dots {position: absolute;bottom: 0;width: 100%;text-align: center;}
#promo .owl-dot {display: inline-block;}
.promo__item {padding: 1.5rem 2.5rem 2rem 2.5rem;background-color: #ffffff;border-radius: 1.5rem;background-repeat: no-repeat;background-size: cover;}
.promo__icon {font-size: 1rem;color: #ffffff;background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);width: 100px;height: 100px;border-radius: 100%;text-align: center;flex-direction: column;}
.promo__price {font-size: 2rem;font-family: 'Cormorant Infant', serif;}
.promo__title {font-size: 2.5rem;font-weight: bold;}
.promo__subtitle {font-size: 1rem;margin-top: .5rem;}
.promo__content {padding: 0 1.25rem;}


/**************************************/
/*** Описание страницы на главной ***/
/**************************************/
.body__inner {color: #ffffff;background: #BE9DDF;border-radius: 20px;padding: 40px;overflow: hidden;position: relative;}
.body__inner .body {position: relative;text-align: center;}
.flower-small {width: 60px;height: 60px;position: absolute;top: -1rem;right: -1rem;background-size: cover;}
.flower-big {width: 130px;height: 130px;position: absolute;bottom: -1.5rem;left: -1.5rem;background-size: cover;}


/**************************************/
/*** Промо слайдер ***/
/**************************************/
.callback__inner {display: grid;gap: 20px;grid-template-columns: repeat(3, 1fr);align-items: center;}
.callback__item {justify-content: flex-end;flex-direction: column;align-items: flex-start;height: 406px;background-color: #ffffff;border-radius: 1.5rem;background-repeat: no-repeat;background-size: cover;position: relative;}
.callback__title {font-size: 30px;font-weight: 600;}
.callback__subtitle {font-size: 1rem;}
.callback__icon {left: 3rem;bottom: 5.5rem;font-size: 1rem;color: #ffffff;background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);width: 90px;height: 90px;border-radius: 100%;text-align: center;flex-direction: column;position: absolute;z-index: 2;}
.callback__price {font-size: 26px;font-family: 'Cormorant Infant', serif;}
.callback__content {border-top: 20px solid rgba(237, 184, 225, 0.4);padding: 2rem 1.25rem 1.25rem 1.25rem;border-radius: 0 0 1.5rem 1.5rem;background-repeat: no-repeat;background-size: cover;width: 100%;position: relative;}
.callback__item:last-child {justify-content: flex-start;}
.callback__item:last-child .callback__content {border-top: 0;border-bottom: 20px solid rgba(237, 184, 225, 0.4);padding: 1.25rem 1.25rem 2rem 1.25rem;border-radius: 1.5rem 1.5rem 0 0;}
.callback__item:last-child .callback__icon {bottom: auto;top: 5.5rem}
.callback__item-callback {padding: 1.25rem;height: 460px;}
.callback__item-callback .pretitle {margin: .5rem auto 0;}
.callback__item-callback .callback__subtitle {font-size: 1rem;margin-top: 1rem;}
.callback__item-callback .form__button {width: 100%;}
.callback__item-callback .form__fields input {padding-left: 54px;}
.callback__item-callback .form__fields i {width: 36px;height: 36px;line-height: 36px;font-size: 18px;color: #ffffff;background-color: #E3DDEE;border-radius: 100%;display: inline-block;text-align: center;position: absolute;top: 7px;left: 7px;}
.callback__item-callback .form__fields input:focus + i {background-color: #FFA5D8;}


/**************************************/
/*** Инстаграм ***/
/**************************************/
#instagram.loading {height: 274px;}
.instagram__inner {position: relative;}
.instagram__items {display: grid;gap: 20px;grid-template-columns: repeat(4, 1fr);}
.instagram__item img {border-radius: 20px;}
.instagram__links {top: calc(50% - 35px);left: calc(50% - 250px);width: 500px;height: 70px;background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);border: 4px solid #FFFFFF;border-radius: 40px;justify-content: space-between;position: absolute;}
.instagram__links-label {width: 130px;height: 40px;margin: 0 2rem;}
.instagram__links-logo {left: calc(50% - 45px);width: 90px;height: 90px;transform: rotate(45deg);position: absolute;transition: all 0.3s ease;}
.instagram__links-text {margin: 0 3rem;font-size: 1rem;font-weight: bold;color: #ffffff;}
.instagram__links:hover .instagram__links-logo {transform: rotate(0);}


/**************************************/
/*** Подвал ***/
/**************************************/
.footer__menu {width: 100%;position: relative;margin: 1rem 0;padding: 0 80px;background-color: #ffffff;box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);border-radius: 40px;}
.footer__bottom {justify-content: space-around;margin: 1rem 0;}
.footer__copyright {color: #CBC3DB;text-align: center;margin: 1rem 0;}
/** Подвал. Контакты **/
.footer__contacts {align-items: flex-start;margin: 0 0 2rem 0;}
.contacts__block {width: 25%;text-align: center;}
.contacts__block:nth-child(2) {margin-top: 80px;}
.contacts__block:nth-child(3) {margin-top: 80px;}
.contacts__block-icon {margin: 1rem;font-size: 36px;width: 70px;height: 70px;line-height: 76px;color: #ffffff;background: #7EB8DA;outline: 1rem solid rgba(126, 184, 218, 0.2);border-radius: 100%;text-align: center;}
.contacts__block-content {margin-top: 1rem;font-size: 1rem;width: 100%;}
.contacts__block-phone {display: block;margin-bottom: .5rem;}
.contacts__block-click {color: #CBC3DB;font-weight: bold;text-decoration: underline;}
/** Подвал. Иконки соц сети и оплаты **/
.footer__icons a {color: #CBC3DB;margin: .5rem 1rem .5rem 0;}
.footer__icons a:last-child {margin-right: 0;}
.footer__icons a:hover {color: #FFA5D8;}
.footer__icons a svg {fill: #CBC3DB;width: 1.5rem;height: 1.5rem;transition: all 0.3s ease;}
.footer__icons a:hover svg {fill: #FFA5D8;}
.footer__icons a span {display: none;}


/**************************************/
/*** Товары таблицей ***/
/**************************************/
.product__item {background-color: #ffffff;position: relative;transition: all 0.3s ease;}
.product__image {position: relative;overflow: hidden;}
.product__img {height: 260px;}
.product__img img {border-radius: 1rem 1rem 0 0;}
.product__shop {position: relative;}
.product__name {font-size: 1rem;}
.product__name span {max-height: 60px;display: block;overflow: hidden;}
.products__grid {display: grid;gap: 20px;grid-template-columns : repeat(4, 1fr);}
.products__grid .product__item {border: 4px solid #E3DDEE;border-radius: 1.25rem;}
.products__grid .product__item:hover {border-color: #ffffff;}
.products__grid .product__item:after {content: '';width: calc(100% - 20px);height: 0;background-color: #7EB8DA;border-radius: 5px;position: absolute;bottom: -3px;left: 10px;transition: all 0.3s ease;}
.products__grid .product__item:hover:after {height: 3px;}
.products__grid .product__image:after {content: '';width: calc(100% + 126px);height: 14rem;bottom: -11.75rem;left: -4rem;background-color: #ffffff;border: 4px solid #E3DDEE;border-radius: 100%;display: block;position: absolute;overflow: visible;transition: all 0.3s ease;}
.products__grid .product__item:hover .product__image:after {border-color: #ffffff;}
.products__grid .product__shop {text-align: center;padding-bottom: .5rem;}
.products__grid .product__name {height: 60px;margin: .25rem 0;}
.has-oldPrice .price__now {color: #9579D1;margin-right: 1rem;}
.quickview {opacity: 0;top: 6px;right: -6px;width: 40px;height: 40px;line-height: 40px;font-size: 20px;color: #FFA5D8;background-color: #ffffff;border: 2px solid #FFA5D8;box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);border-radius: 100%;display: block;text-align: center;position: absolute;transition: all 0.3s ease;}
.quickview:hover {color: #ffffff;background-color: #FFA5D8;border-color: #ffffff;}
.product__item:hover .quickview {opacity: 1;right: 6px;}
/* Наличие */
.product__available {font-size: .75rem;}
.product__available.empty {color: #DE4F8B;}
.product__available.alot {color: #9579D1;}
.product__available.few {color: #7EB8DA;}
/* Кнопки Избр и Сравнения */
.products__grid .product__links {margin: -3.5rem 0 .5rem;justify-content: center;align-items: flex-end;position: relative;z-index: 2;}
.product__links a {margin: 0 5px;width: 40px;height: 40px;line-height: 40px;font-size: 18px;color: #FFA5D8;border: 2px solid #FFA5D8;background-color: #ffffff;box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);border-radius: 100%;display: block;text-align: center;transition: all 0.3s ease;position: relative;}
.product__links a:hover {color: #ffffff;border-color: #ffffff;}
.products__grid .product__links a {opacity: 0;}
.products__grid .product__links a.add-compare {transform: translateX(100%);}
.products__grid .product__links a.add-favorites {transform: translateX(-100%);}
.product__item:hover .product__links a {opacity: 1;transform: translateX(0);}
/* Добавление в корзину */
.products__grid .product__addCart a {opacity: 1;width: 54px;height: 54px;line-height: 54px;font-size: 24px;color: #ffffff;border: 4px solid #FFFFFF;background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);border-radius: 100%;display: block;text-align: center;}
.products__grid .product__addCart a:hover {box-shadow: 0px 4px 10px rgba(174, 143, 237, 0.3);}
.products__grid .product__addCart a.add-notify {background: #CBC3DB;}
.products__grid .product__addCart a span {display: none;}
/* Анимация для кнопок */
.product__links a:before {content: "";background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;-webkit-transform: scaleX(0);-moz-transform: scaleX(0);-o-transform: scaleX(0);-ms-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;-khtml-border-radius: 100%;}
.product__links a:hover:before {-webkit-transform: scale(1);-moz-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scaleX(1);}
.product__addCart a:hover:before {background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);}


/**************************************/
/*** Товары на главной ***/
/**************************************/
[id^="pdt__"] .products__buttons {margin-top: 2rem;text-align: center;}
[id^="pdt__"] .product__item:nth-child(n+9) {display: none;}
[id^="pdt__"] .product__item.show {display: block !important;}
#pdt__sale .product__item {display: block;}
#pdt__sale .product__item:nth-child(n+13) {display: none;}


/**************************************/
/*** Каталог товаров на главной ***/
/**************************************/
#pdt__catalog .block__title {margin: 0;}
#pdt__catalog .owl-nav {width: 4rem;margin: 1.25rem auto 0;position: relative;}
#pdt__catalog .owl-nav:before {content: '';position: absolute;top: .25rem;left: calc(50% - 1px);width: 2px;height: 1.5rem;background-color: #CBC3DB;border-radius: 4px;}
#pdt__catalog .owl-prev, #pdt__catalog .owl-next {background-color: transparent;box-shadow: none;width: 2rem;height: 2rem;}
.loading .categories__item {display: inline-block;}
.categories__list.loading {height: 234px;}
.categories__list {display: grid;gap: 20px;grid-template-columns: repeat(6, 1fr);}
.categories__image {width: 140px;height: 140px;margin: 0 auto;background-color: #ffffff;border-radius: 100%;border: 1rem solid rgba(126, 184, 218, 0.2);}
.categories__image img {border-radius: 100%}
.categories__name {margin-top: 10px;font-size: 1rem;text-align: center;display: block;}

/* Лесенка отступов для каталога */
#pdt__catalog .owl-item.active {transition: all 0.5s ease;}
#pdt__catalog .owl-item.active + .active {margin-top: 2rem;}
#pdt__catalog .owl-item.active + .active + .active {margin-top: 4rem;}
#pdt__catalog .owl-item.active + .active + .active + .active {margin-top: 4rem;}
#pdt__catalog .owl-item.active + .active + .active + .active + .active {margin-top: 2rem;}
#pdt__catalog .owl-item.active + .active + .active + .active + .active + .active {margin-top: 0;}


/**************************************/
/*** Распродажа ***/
/**************************************/
#pdt__sales.loading {height: 280px;}
.pdt__sales-inner {background-color: #BE9DDF;border-radius: 20px;padding: 10px;}
.pdt__sales-promo {width: 380px;padding: 0 2rem;text-align: center;color: #ffffff;}
.pdt__sales-promo-title {font-size: 2.5rem;font-weight: bold;}
.pdt__sales-promo-subtitle {font-size: 1rem;}
#pdt__sales .pdt__sales-grid {width: calc(100% - 380px);padding-left: 10px;}
#pdt__sales .owl-prev, #pdt__sales .owl-next {position: absolute;top: calc(50% - 20px);width: 40px;height: 40px;font-size: 1rem;}
#pdt__sales .owl-prev {left: -10px;} 
#pdt__sales .owl-next {right: -25px;}
/* Распродажа. Товар */
#pdt__sales .product__item {border-radius: 0 20px 20px 0;}
#pdt__sales .product__image {width: 260px;}
#pdt__sales .product__shop {width: calc(100% - 260px);padding: 1rem;}
#pdt__sales .product__name {font-size: 1.25rem;max-height: 3.5rem;height: auto;margin: 1rem 0;display: block;overflow: hidden;}
#pdt__sales .product__price {margin: 1rem 0;}
#pdt__sales .product__addto i {display: none;}
#pdt__sales .product__addCart {margin-right: 5px;}
/* Распродажа. Окончание акции */
.product__counter {font-size: 1.25rem;font-weight: bold;color: #FFA5D8;line-height: 1;}
.product__counter .separator {margin: 0 .5rem;}
.product__counter-icon {font-size: 3rem;line-height: 1;}
.product__counter-content {width: calc(100% - 3rem);padding-left: 1rem;}
.counter__animate-line {margin-top: .5rem;width: 100%;height: 1rem;background-color: #E3DDEE;border-radius: 10px;position: relative;transition: all 0.3s ease;}
.counter__animate-line-progress {width: 0;height: 100%;background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);border-radius: 10px;}


/**************************************/
/*** Новости ***/
/**************************************/
#news {margin-bottom: 0;}
#news .owl-nav {width: 5rem;margin: 1.25rem auto 0;position: relative;}
#news .owl-nav:before {content: '';position: absolute;top: .25rem;left: calc(50% - 1px);width: 2px;height: 1.5rem;background-color: #CBC3DB;border-radius: 4px;}
#news .owl-prev, #news .owl-next {background-color: transparent;box-shadow: none;width: 2rem;height: 2rem;}
.news_list.loading {height: 406px;}
.news__title {margin-top: 1rem;font-size: 1.25rem;font-weight: bold;display: block;text-align: center;height: 3rem;overflow: hidden;}
.news__desciprion {display: none;}
.news__image {position: relative;height: 266px;border: 3px solid #E3DDEE;border-radius: 20px;}
.news__image img {border-radius: 1rem;}
.news__content {margin-top: 4rem;text-align: center;}
.news__button {margin-top: 10px;}
.news__button i {margin-left: .5rem;}
.news__date {left: calc(50% - 35px);bottom: -35px;font-size: 1rem;color: #ffffff;background: linear-gradient(180deg, #FFB6DF 0%, #FF72C2 100%);outline: 1rem solid rgba(255, 165, 216, 0.2);width: 70px;height: 70px;border-radius: 100%;text-align: center;flex-direction: column;position: absolute;z-index: 2;}
.news__item:hover .news__date {background: linear-gradient(180deg, #DECFFF 0%, #9579D1 100%);}
.news__date .month {text-transform: lowercase;}











/**************************************/
/*** Если не работает JS ***/
/**************************************/
.nojs .preloader {display: none;}
.nojs #toTop, .nojs .quickview, .nojs .filters-price #goods-filter-price-slider {display: none;}
.nojs .owl-carousel {display: block;}
.nojs .scriptOff {display: none;}


/**************************************/
/*** Фиксы для IE 11 ***/
/**************************************/
.IE .owl-carousel .animated {animation-duration:0;animation-fill-mode:both}


/**************************************/
/*** Фиксы для Firefox ***/
/**************************************/
.Firefox .inputText {-moz-appearance: textfield;}


/**************************************/
/*** Адаптивность ***/
/**************************************/
.col-fx-12 {width: 100%}
.col-fx-11 {width: 91.66666667%}
.col-fx-10 {width: 83.33333333%}
.col-fx-9 {width: 75%}
.col-fx-8 {width: 66.66666667%}
.col-fx-7 {width: 58.33333333%}
.col-fx-6 {width: 50%}
.col-fx-5 {width: 41.66666667%}
.col-fx-4 {width: 33.33333333%}
.col-fx-3 {width: 25%}
.col-fx-2 {width: 16.66666667%}
.col-fx-1 {width: 8.33333333%}

/*** Основной контейнер ***/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 1rem;padding-right: 1rem;}
.container:before, .container:after {display: table;line-height: 0;content: '';}
.container:after {display: block;content: '.';clear: both;font-size: 0;line-height: 0;height: 0;overflow: hidden;}
.row {margin-left: -1rem;margin-right: -1rem;}
.row:before, .row:after {content: ' ';display: table;}
@media all and (min-width: 480px) {
	.container {min-width: 448px;}
}

@media all and (min-width: 576px) {
	.container {min-width: 544px;}
}

@media all and (min-width: 768px) {
	.container {width: 736px;}
}

@media all and (min-width: 992px) {
	.container {width: 960px;}
}

@media all and (min-width: 1200px) {
	.container {width: 1168px;}
}

/*** . Адаптивность ***/
@media (max-width: 1199px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 639px) {
}

@media (max-width: 575px) {
}

@media (max-width: 479px) {
}

@media (max-width: 374px) {
}